<ion-content>
  
  <ion-slides pager=true  [options]="slideOpts" >
    <ion-slide >
      
      <div>
        <ion-img class="img">
        </ion-img>
  
        <div class="tx">
          <div>All your favorites</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      

      </div>
       
    
    </ion-slide>

  
    
    

    <ion-slide>
      <div>
        <ion-img class="img">
        </ion-img>
  
        <div class="tx">
          <div>All your favorites</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      </div>
        
    </ion-slide>


    <ion-slide>
      <div>
        <ion-img class="img">
        </ion-img>
  
        <div class="tx">
          <div>Order from choosen chef</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      </div>
        
    </ion-slide>

    <ion-slide>
      <div>
        <ion-img class="img">
        </ion-img>
  
        <div class="tx">
          <div>Free delivery offers</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      </div>
        
    </ion-slide>

  </ion-slides>

  <div class="btn">
    <ion-button>NEXT</ion-button>
    <p>Skip</p>
  </div>
  
</ion-content>
