<ion-content>
  
  <ion-slides pager=true  [options]="slideOpts" >
    <ion-slide >
      
      <div>
        <img  class="img" src="https://via.placeholder.com/240x292" alt="">
  
        <div class="tx">
          <div>All your favorites</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      </div>
      <div class="btn">
        <ion-button class="nxt">NEXT</ion-button>
      </div>
      <ion-button class="skp" fill="clear" >Skip</ion-button>
       
    
    </ion-slide>

  
    
    

    <ion-slide>
      <div>
        <img  class="img" src="https://via.placeholder.com/240x292" alt="">
  
        <div class="tx">
          <div>All your favorites</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      </div>
      <div class="btn">
        <ion-button class="nxt">NEXT</ion-button><br>
      </div>
      <ion-button class="skp" fill="clear">Skip</ion-button>
    </ion-slide>


    <ion-slide>
      <div>
        <img  class="img" src="https://via.placeholder.com/240x292" alt="">
  
        <div class="tx">
          <div>Order from choosen chef</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      </div>
      <div class="btn">
        <ion-button class="nxt">NEXT</ion-button>
      </div>
      <ion-button class="skp" fill="clear">Skip</ion-button>
    </ion-slide>

    <ion-slide>
      <div>
        <img  class="img" src="https://via.placeholder.com/240x292" alt="">
  
        <div class="tx">
          <div>Free delivery offers</div>
          <p>Get all your loved foods in one once place,you just place the orer we do the rest</p>
        </div>
      </div>
     
        <ion-button class="star" (click)="goToLogin()">GET STARTED</ion-button>
        
    </ion-slide>

  </ion-slides>


  
</ion-content>
